[2015-05-07 02:59] k4rtik opened #8 "Links on navbar broken on blog"
Most nav links on the top navbar at https://in.pycon.org/blog/2015/registrations-open.html are broken.

E.g. Clicking on Home or PyConIndia logo takes me to https://in.pycon.org/blog/2015/registrations-open.html#home

[2015-05-12 01:52] kirang89 commented on #8
This has been fixed.

[2015-05-12 02:45] k4rtik commented on #8
The link to homepage is still wrong on the primary logo on the top left (unless it's not deployed yet).

Please feel free to close the issue, when you see fit. Thanks.

[2015-05-12 03:46] kirang89 commented on #8
Ah yes. I guess we can't close it yet.

[2015-05-13 05:31] kracekumar commented on #8
It is fixed now. Thanks @k4rtik and @kirang89. Closing it now. Don't forget to force reload the page to check the changes.

[2015-05-13 05:31] #8 closed

[2015-05-14 06:30] kracekumar opened #10 "Make sure title of the blog post is displayed while sharing on Facebook"
I shared the Dev Sprint page in fb https://www.facebook.com/kracekumar/posts/963189683733346,  but the page title didn't appear.

Fix is simple, just add fb specific meta tag. https://developers.facebook.com/docs/sharing/best-practices#tags

[2015-08-16 09:59] kracekumar opened #17 "blog archive is giving 403"
https://in.pycon.org/blog/2015/

@vigneshsarma have a look

[2015-08-19 19:31] kracekumar opened #20 "better css for archive"
https://in.pycon.org/blog/2015/ doesn't look great. Here are some sample archive page samples

- http://logbook.spacetraveler.io/blog/archives/
- https://www.mnot.net/blog/all

@astronomersiva can you help ?

[2015-08-20 09:46] astronomersiva commented on #20
Sure. Will send a PR in a couple of days.

[2016-06-06 03:03] iambibhas opened #34 "Page title is fixed for all pages and showing "2015 in Bangalore""
This needs to be dynamic and set to current page title - https://github.com/pythonindia/inpycon-blog/blob/master/themes/inpycon/templates/base.html#L20

Now it's just showing "PyCon in Bangalore in 2016" for all pages.

[2016-06-07 15:08] #34 closed

[2016-06-27 09:16] #20 closed

[2016-09-10 08:02] theskumar commented on #17
This is fixed now. closing.

[2016-09-10 08:02] #17 closed

[2016-09-10 08:07] theskumar opened #58 "Add social share button to post single page"
Few things that I have in mind:

https://sharebutton.co/
https://www.kurtnoble.com/labs/rrssb

[2017-07-09 07:42] theskumar opened #64 "Add and enable rss and/or atom feed"
The feed can be used to pull data and display it on the pycon website in the lastest news section.

[2017-07-09 11:48] realslimshanky opened #65 "Changing theme to meet the look of PyCon India 2017 website."
Change in theme for the entire blog is required to meet the look of PyCon India 2017 [website](https://pythonindia.github.io/inpycon2017/).

[2017-07-09 19:27] realslimshanky commented on #65
I'm working to resolve this issue.

[2017-07-10 09:11] #65 closed

[2017-07-10 09:26] theskumar opened #67 "[U]: Fix header nav spacing"
![image](https://user-images.githubusercontent.com/236356/28011419-e999c368-657f-11e7-80c4-4c670bf65219.png)

There is some  extra space on left side.

[2017-07-10 09:32] #64 closed

[2017-07-10 09:32] theskumar opened #68 "[UI] Fix navigation on mobile"
![image](https://user-images.githubusercontent.com/236356/28011695-d17ed826-6580-11e7-92e8-182e594c58f3.png)

[2017-07-10 21:52] realslimshanky commented on #68
I'm working on this issue.

[2017-07-10 23:37] realslimshanky opened #70 "[UI] Display is breaking on mobile view"
Due to the images being non-responsive to the window width the display is breaking.
Need to make the width response with respect to window size.
![screenshot](http://i.imgur.com/XUO2Vjh.png)

[2017-07-11 09:20] #68 closed

[2017-07-11 09:37] realslimshanky commented on #67
This issue has also been fixed in the PR #69 @theskumar .

[2017-08-08 13:30] realslimshanky opened #72 "2017 CFP blog needs 2016 video link to PyCon India"
2017 CFP blog needs 2016 video link to PyCon India.

[2017-10-06 05:23] #72 closed

[2017-10-14 10:07] realslimshanky opened #89 "Blog about FOSSEE being Silver Sponsor"
You have to use the write-up
[code]

[2017-10-14 10:20] realslimshanky commented on #89
Sorry closing this issue.

[2017-10-14 10:20] #89 closed

[2017-10-15 15:42] realslimshanky opened #90 "A blog announcing Pipal Academy as the Associate Sponsor"
Use this write-up to create the blog.
```Pipal Academy is a collective of experienced technologists, who care deeply about the art of software development. They offer in-depth courses on niche technical topics. Pipal Academy regularly conducts public workshops in Bangalore and also offer on-site corporate training. Their courses are targeted at professional software developers and they make sure t

[2017-10-15 18:23] vipulgupta2048 commented on #90
I would like to take this up.

[2017-10-15 20:27] realslimshanky commented on #90
@vipulgupta2048 thank you, waiting for your PR.

[2017-10-16 03:00] vipulgupta2048 commented on #90
PR submitted  #91

[2017-10-17 08:59] realslimshanky commented on #90
Closing the issue since the PR #91 has been merged which fixes it.

[2017-10-17 08:59] #90 closed

[2017-10-17 10:47] omi10859 opened #93 "[UI] favicon is missing on PyCon Blog "https://in.pycon.org/blog/""

[2017-10-17 10:53] realslimshanky commented on #93
@omi10859 would you like to work on this issue?

[2017-10-17 11:00] omi10859 commented on #93
yup!

[2017-10-17 16:37] amitsin6h commented on #70
let me take this @realslimshanky

[2017-10-17 17:23] realslimshanky commented on #70
@amitsin6h Please work on the issue and discuss whatever query you have here only.

[2017-10-19 08:13] realslimshanky opened #95 "Blog about community spaces"
PyCon India recently announced about the community spaces and how one can apply for that. A blog is needed regarding the same. One has to use the same email [1] from the mailing list for the blog.
[1] https://mail.python.org/pipermail/inpycon/2017-October/011197.html

[2017-10-19 08:18] Pradhvan commented on #95
I can help with this issue.

[2017-10-19 15:09] ankitrai96 commented on #93
@realslimshanky I would like to work on this issue if no one has called dibs on it yet.

[2017-10-20 14:11] realslimshanky commented on #95
@Pradhvan great. Will wait for your PR.

[2017-10-20 14:12] realslimshanky commented on #93
@anktirai96 great. Let's check out your PR.

[2017-10-20 19:11] amitsin6h commented on #70
https://www.amcharts.com/kbase/making-charts-responsive/
Best way to make amcharts responsive was to edit amcharts configuration but it is not possible as we are parsing the feed. but it can done from the source file.

I have just managed to display amcharts in mobile view but its has some problem with small charts which has less content. We have one small chart and I thought to make it work nth-c

[2017-10-21 00:43] realslimshanky commented on #70
@amitsin6h I suggest we make the image horizontally scrollable keeping the width of the div containing the image below screen size. This way we don't have to make a compromise with the image size and quality.

[2017-10-21 06:24] kracekumar commented on #95
@Pradhvan Will you be able to get this done by today? This is a high priority we need to publicize and get response.

[2017-10-21 07:29] Pradhvan commented on #95
Yes I will do a PR today. The blog is up for review in the volunteer channel.

[2017-10-21 08:44] realslimshanky commented on #95
@Pradhvan please make the PR, we can review it there as well.

[2017-10-21 10:16] Pradhvan commented on #95
Please review PR [#97](https://github.com/pythonindia/inpycon-blog/pull/97)

[2017-10-22 11:04] realslimshanky opened #98 "Fixing the blog feed on inpycon website"
In order to fix the situation which can be seen below
![image](https://user-images.githubusercontent.com/10004530/31861205-b7ff976a-b746-11e7-9747-7333c6f27c48.png)
It's a better option to shift the logo after the first paragraph of the blog. This way it's not rendered in the feed on the main PyCon India website. I'm sending a PR to resolve this issue soon.

[2017-10-22 11:04] realslimshanky commented on #95
@Pradhvan thank you for your contribution :pizza:

[2017-10-22 11:04] #95 closed

[2017-10-22 11:11] #98 closed

[2017-10-22 11:47] amitsin6h commented on #70
#101
@realslimshanky review it.

[2017-10-22 11:48] amitsin6h commented on #58
@theskumar let me take this

[2017-10-22 12:14] amitsin6h commented on #58
@realslimshanky @theskumar can you tell me where I can keep the button at bottom or in top.
Or what I was thinking that we can keep the floating share button at right side. Let me know what you think

[2017-10-22 12:32] amitsin6h commented on #10
@kracekumar I tried to share the link in fb and am able to get the title

[2017-10-22 12:34] amitsin6h commented on #10
![blog-fb-fetch](https://user-images.githubusercontent.com/12906090/31861943-59e02bec-b753-11e7-9c8b-c8e2e3bff4f4.jpg)

@kracekumar .. I think we should close this issue

[2017-10-23 10:46] kracekumar commented on #10
👍

[2017-10-23 10:46] #10 closed

[2017-10-23 12:08] realslimshanky commented on #10
@kracekumar blog lags some meta tags due to which telegram and other messaging platforms are unable to pick it up. It'll be great if someone can look it up.

[2017-10-23 12:23] realslimshanky commented on #58
The button can be placed after the title or the end of the blog at the center.

[2017-10-25 13:25] #93 closed

[2017-10-26 19:12] realslimshanky commented on #70
Closing this issue since it has been fixed in #101

[2017-10-26 19:12] #70 closed

[2017-10-27 07:41] realslimshanky opened #103 "Blog for Hypertrack as platinum sponsor"
Create a new blog using the write-up from this [PR](https://github.com/pythonindia/inpycon2017/pull/173)
Also, add the image 'after' the write-up reason for which is explained [here](https://github.com/pythonindia/inpycon-blog/pull/102#discussion_r146805616)

[2017-10-28 19:36] realslimshanky commented on #103
Closing this issue since this has been fixed in #104

[2017-10-28 19:36] #103 closed

[2017-10-28 19:45] realslimshanky opened #106 "Blog for Microsoft as Platinum Sponsor"
A Blog is needed to announce Microsoft as Platinum Sponsor like [0] and [1].
Write-up can be taken from [here](https://github.com/pythonindia/inpycon2017/blob/8dd58488ced5ffe01d7145b72bde9e62ae0a07c4/index.html#L731)
The Microsoft logo can be copied from [here](https://in.pycon.org/2017/images/sponsor/microsoft.png).
[0] https://in.pycon.org/blog/2017/announcing-tensorflow-platinum-sponsor.html
[1

[2017-10-28 21:40] abstract-mib commented on #106
I will do it.

[2017-10-29 11:18] realslimshanky commented on #106
@abstract-mib please refer this [comment](https://github.com/pythonindia/inpycon2017/pull/180#issuecomment-340254393) for the query about image.

[2017-12-07 18:42] realslimshanky commented on #106
Closing at it was fixed in #108

[2017-12-07 18:42] #106 closed

[2017-12-07 18:42] #67 closed

[2017-12-07 18:48] realslimshanky opened #111 "Changing color schema of headings to fit the theme"
Heading tag h2 holds somewhat greenish color which does not match the overall theme of the blog which is blue. A PR is needed to patch it up.
![image](https://user-images.githubusercontent.com/10004530/33732731-5e8814f6-dbad-11e7-8ce5-f6f4f65d356d.png)

[2017-12-07 18:58] #111 closed

[2017-12-30 12:56] #58 closed

[2018-04-05 16:40] adityac8 opened #119 "Change in Venue and Dates"
The Venue and Dates need correction at the site.

[2018-04-09 11:53] vipulgupta2048 opened #122 "[Bug] Favicon for blog not changed"
The favicon in use for the blog hasn't been changed since it was applied in 2017, as Pycon India 2018 has a new logo (looks pretty good). We should use the official logo to maintain uniformity throughout the websites.

- [x]  Replace favicon and delete old unused media related to it.

Also, it could be one of the cases, where developers like to say.
"This is not a bug, but a feature." :laughing:

[2018-04-09 12:00] vipulgupta2048 opened #123 "Images/orientation of old blog posts needs to be changed"
I was just going over the old blog posts that I wrote (being a bit nostalgic, I reckon) I observed some images in the one of the old blog posts either missing or in poor shape (orientation all over the place)

Since, the people have the option to scroll down to them and are visible to everybody. We should at least fix them up. Would help in keeping the site, well maintained.

[2018-04-22 17:07] #122 closed

[2018-04-24 14:47] realslimshanky opened #128 "Github templates needed to helpout new contributors"
Github templates are needed to help out folks who are new and want to create an issue or raise pull request. These are the following work that need to be done
- [x] Add CONTRIBUTING.md
- [ ] Add link to CONTRIBUTING.md in README.md
- [ ] Add ISSUE_TEMPLATE.md
- [ ] Add PULL_REQUEST_TEMPLATE.md

[2018-04-24 14:55] ananyo2012 commented on #128
Maybe create a CONTRIBUTING.md similar to inpycon2018 website I am working here https://github.com/pythonindia/inpycon2018/pull/72 ?

[2018-04-24 14:59] ananyo2012 opened #129 "Create a blog post for writing a good Proposal"
Do we have any from previous year PyCon ? If not we should create one.

[2018-04-25 16:47] realslimshanky commented on #128
@ananyo2012 in addition to the files you are adding, few more will be needed inside `.github` folder in order to assist new contributors. We can take help from this article for that [Creating an issue template for your repository](https://help.github.com/articles/creating-an-issue-template-for-your-repository/)

[2018-05-04 20:23] utkarsh2102 opened #131 "Hover Effect on Social Media Icons."
It'd be great to add a hover effect on the social media icons.
Their shade would get darker when hovered.
Shall I take up this task?

[2018-05-04 20:27] Pradhvan commented on #131
@utkarsh2102 sure you can do a PR and if other people approves we can merge it.

[2018-05-05 04:27] #123 closed

[2018-05-05 04:29] #131 closed

[2018-05-06 05:46] a2un commented on #129
Is see this here. Could we close this issue https://in.pycon.org/cfp/2018/proposals/
Also the last year's looks similar to the link above
https://in.pycon.org/cfp/2017/proposals/

[2018-05-06 08:05] ananyo2012 commented on #129
@a2un I was not saying about CFP announcement post. The links you mentioned are the links to CFP pages itself. We want to have a blog post taking input from the community and add tips and suggestions to write a good Proposal. The link to PyCon India blog is https://in.pycon.org/blog/

[2018-05-06 08:10] a2un commented on #128
Hey..I am taking this up

[2018-05-06 08:27] a2un commented on #129
What is the difference between that Proposal and CFP..What am I missing something here

[2018-05-06 10:10] ananyo2012 commented on #129
On Sun 6 May, 2018, 1:57 PM Arun Balajiee, <notifications@github.com> wrote:

CFP means Call for Proposal. Just difference in the grammar.

[2018-05-06 13:39] a2un commented on #128
Please find pull request https://github.com/pythonindia/inpycon-blog/pull/134

[2018-05-09 02:08] ananyo2012 commented on #128
@a2un I have updated the issue description. Please go ahead and complete the other tasks

[2018-05-09 16:39] a2un commented on #128
Thank you @ananyo2012. That's good

[2018-05-13 09:41] vipulgupta2048 opened #136 "Adding a read more tag in blogs"
Since we are putting efforts to get more and more people to read the blog and increase traffic, I would like to suggest the use of "Read More" tags for the blog. This helps in improving both the UI/UX

Bloggers would know the benefit of this, the reader who lands on the blog would be able to see more than one post at any point of time and have to traverse fewer blogs too, if he is looking for othe

[2018-05-14 14:02] ananyo2012 commented on #136
+1 for the suggestion

[2018-05-14 14:05] ananyo2012 commented on #129
Jaidev and Anand C. from CFP team is working on writing the blog post. Once we get this ready we can make a PR for this.

[2018-05-19 13:51] HarendraSingh22 commented on #136
So on which of the blogs this should be done?
Maybe we can set a character limit and everything more than that is hidden in all the blogs?

[2018-05-19 18:02] vipulgupta2048 commented on #136
Yes, you can implement that as well, whatever works with pelican.
Well, the blogs of 2018 for sure. If you can then 2017 as well. I guess that should do it.

[2018-05-19 21:30] realslimshanky commented on #129
@ananyo2012 any update on this issue?

[2018-05-20 02:43] ananyo2012 commented on #129
Yeah Jaidev and Anand were compiling this. I will ask them today regarding
this.

On Sun 20 May, 2018, 3:00 AM Shashank Kumar, <notifications@github.com>
wrote:

[2018-05-20 21:31] vipulgupta2048 commented on #136
@ananyo2012 That's a great find, we can sure use that,
@HarendraSingh22 Can you take this up?

[2018-05-21 14:51] ananyo2012 opened #137 "Bug: Hamburger menu for navbar not showing in mobile view"
Screenshot:
![screenshot from 2018-05-21 20-19-11](https://user-images.githubusercontent.com/10486343/40313877-77499736-5d34-11e8-9500-1bef91b5c11d.png)

[2018-05-26 10:12] dhavalsavalia commented on #137
Hey,
I have fixed the issue! Check my pull request [https://github.com/pythonindia/inpycon-blog/pull/139](https://github.com/pythonindia/inpycon-blog/pull/139).
Screenshots of Google Chrome and Safari can be found [here](https://imgur.com/a/jYuYRjy).

[2018-05-27 04:38] dhavalsavalia opened #140 "Use Pipfile for dependency management"
I'd suggest using Pipfile for dependency management and pipenv for managing virtual environment.

[2018-05-30 17:00] vipulgupta2048 commented on #129
@ananyo2012 Re-update??

[2018-05-30 17:03] #129 closed

[2018-05-30 18:43] utkarsh2102 commented on #128
@realslimshanky, shall I work on PULL_REQUEST_TEMPLATE?

[2018-05-31 08:03] vipulgupta2048 opened #143 "Blog for Ticket Sales"
- A blog post is needed for the tickets and describing ticket structure of PyCon India 2018

[2018-05-31 11:35] utkarsh2102 commented on #128
Oh, okay.
Thought the user of inactive, hence asked.
No worries.

[2018-05-31 20:36] inovizz opened #145 "Re-write the blog for PyConIndia 2018 Devsprints"
Use this for reference - https://in.pycon.org/blog/2017/understanding-dev-sprints.html

[2018-05-31 20:36] inovizz commented on #145
cc @ananyo2012 @vipulgupta2048

[2018-05-31 20:48] vipulgupta2048 commented on #145
I think I wrote this, in 2017, I still refer back to it whenever someone asks me what are Developer Sprints. I can write it and make some changes. On it.

[2018-06-01 07:58] vipulgupta2048 commented on #136
@utkarsh2102 Can you take this up?

[2018-06-01 10:29] utkarsh2102 commented on #136
I don't think if I'll we able to take it as I've got no history with blogs.
However, I don't mind trying this. Where do we need the links to be inserted?

[2018-06-01 12:30] vipulgupta2048 commented on #136
The links would preferably be inserted after the first paragraph of the content or after giving out enough information for the reader to decide, understand the context and be intrigued enough to click `read more`

[2018-06-03 07:30] Rohithgilla12 commented on #136
Hey I would like to give it a shot,
Can I try it?
I'll see if I can work it out
P.S First time dealing with this stuff but I'll try my best

[2018-06-03 13:43] utkarsh2102 commented on #136
I'm not working on this issue.
@Rohithgilla12, you may proceed.

[2018-06-03 14:20] ananyo2012 commented on #136
@Rohithgilla12 Follow [this comment](https://github.com/pythonindia/inpycon-blog/issues/136#issuecomment-390501174) for the proposed solution

[2018-06-04 04:00] ananyo2012 commented on #136
Hmm just search how to add read more tags in pelican blog.

Also it would be great if you read the conversations in the issue while
taking up a task.

On Sun 3 Jun, 2018, 11:52 PM #Gilla_Dude!, <notifications@github.com> wrote:

[2018-06-04 21:50] realslimshanky commented on #136
I think this can be solved without even using a plugin. All one has to do is change the theme.
Simply crop the blog into say the first couple of sentences and add `<a>` tag after that. Check out how this theme uses the same methodology https://github.com/getpelican/pelican-themes/tree/master/aboutwilson
![aboutwilson](https://raw.githubusercontent.com/getpelican/pelican-themes/master/aboutwilson/s

[2018-06-04 22:10] realslimshanky commented on #137
Closing this issue since it has been fixed in #139. Thank you @dhavalsavalia for your contribution :taco:

[2018-06-04 22:10] #137 closed

[2018-06-06 17:47] vipulgupta2048 commented on #136
@realslimshanky  I like this way.
@ananyo2012  Could we implement the same. This might be the DRY approach we are looking for.

[2018-06-07 02:48] ananyo2012 commented on #136
Yeah I am OK with anything as long as the end result is good.

On Wed, Jun 6, 2018 at 11:17 PM Vipul Gupta <notifications@github.com>
wrote:

[2018-06-09 18:30] ananyo2012 commented on #145
The 2017 blog contains very less content regarding the devsprint. I would suggest something similar to https://us.pycon.org/2018/community/sprints/. If required we can move the content to website.

[2018-06-10 03:29] vipulgupta2048 commented on #145
+1, let's add more details to it.

On Sun, Jun 10, 2018 at 12:00 AM Ananyo Maiti <notifications@github.com>
wrote:

--
Cordially,
Vipul Gupta
Mixster <https://mixstersite.wordpress.com/> | Github
<https://github.com/vipulgupta2048>

[2018-06-11 07:44] #143 closed

[2018-06-12 03:57] ananyo2012 commented on #136
Is anyone working on this? otherwise I will take this up.

[2018-06-12 07:06] vipulgupta2048 commented on #136
Right, so what Satyakaam mentioned in the meeting was, that we implement pagination instead of `Read more ...`
What do you think? I think we should go with both pagination and read more...
Yes, you can take up the issue.

[2018-06-12 07:28] vipulgupta2048 commented on #136
While you choose which approach is right, please also add the links for `Speakers` and `Tickets` in the nav-bar

[2018-06-12 17:52] ananyo2012 commented on #136
Yeah we should do both.

Sure

[2018-06-15 21:39] realslimshanky commented on #136
Let's keep both the options open for the contributor and hope for the best.

[2018-06-18 17:15] #128 closed

[2018-06-22 07:27] dhavalsavalia commented on #140
Closing this issue since PR #149 is merged.

[2018-06-22 07:27] #140 closed

[2018-06-24 19:09] ananyo2012 commented on #136
So there is a issue with the pelican pagination. getpelican/pelican#1223 mentions it. I added summary changes and a failed attempt to add pagination in #150. Look at the changes.

[2018-07-09 14:44] ananyo2012 commented on #136
This can be closed now that #150 is merged. I had to do a hotfix to remove pagination as it is causing some issues in the production. I have to check that. Also now that we have summaries in place we need to put proper summaries for all older blog posts. I will open a new issue for that.

[2018-07-09 14:44] #136 closed

[2018-07-09 14:46] ananyo2012 opened #151 "Add summaries for older blog posts"
After #150 we have a new way to add summaries to posts using `` markers instead of adding the summary in a `summary` key. Let's do this for all older blog posts that doesn't have this. This also helps to keep longer summaries.

[2018-07-09 20:53] vipulgupta2048 commented on #151
@ananyo2012 Good work !! Do add a blog post link for reference.
@pythonindia/pycon-2018-team Please note in all future PR's that this is implemented to maintain consistency.

[2018-07-13 18:08] chirag200666 opened #157 "Improve AQR blog post"
Suggested improvements

- Align image in the centre
- links & image links should open in new tab

[2018-07-14 09:40] ananyo2012 commented on #157
Fixed in #158

[2018-07-14 09:40] #157 closed

[2018-07-17 05:09] chirag200666 opened #159 "Add sponsors blog posts"
Sponsor Blog posts needs to be created as per the given information

Description & logos at:
https://github.com/pythonindia/inpycon2018/issues/151

[2018-09-01 06:52] #159 closed

[2018-09-05 03:08] #145 closed

[2018-09-05 09:13] vipulgupta2048 commented on #151
Closing this as the purpose has been fulfilled

[2018-09-05 09:13] #151 closed

[2018-09-09 13:19] ananyo2012 opened #170 "Update Navbar of the blog same as the website"
Make the navbar of the blog same as the website https://in.pycon.org/2018/

[2018-09-09 18:26] #170 closed

[2018-09-15 09:55] mechanicnitin opened #172 "Spelling error in (understanding-dev-sprints-2018.md)"
On line 15 and 17 in understanding-dev-sprints-2018.md renamed "Preferrably" to "Preferably" and "annouced" to "announced"

[2018-09-15 09:56] mechanicnitin commented on #172
#173

[2018-09-15 10:33] weirdwiz opened #174 "Wrong button highlighted in navbar in.pycon.org/blog/"
![image](https://user-images.githubusercontent.com/24807435/45585376-ea7d0300-b900-11e8-8fb8-bd2562a8d80d.png)

[2018-09-15 19:07] #174 closed

[2018-09-15 19:08] realslimshanky commented on #172
@mechanicnitin Ideally the issue should be closed by a merged pull request.

[2018-09-26 02:28] ananyo2012 opened #177 "Add blog post for Corteva as Gold Sponsor"
**Category** : Gold Sponsor

Description: https://drive.google.com/file/d/1GDBkiTjLQEBgCGJcWTjqq9hodjrDK1nf/view?usp=sharing
Logo: From PyCon India 2018 Website repo

[2018-09-26 02:31] ananyo2012 opened #178 "Add blog post for Google as Gold Sponsor"
**Category**: Gold Sponsor

Description: https://drive.google.com/open?id=1hmKJTqde2TvwAiB2JzCO8-9GMd1UxlSICGLd3gon0Lk
Logo: From PyCon India 2018 website repo

[2018-09-26 02:38] ananyo2012 opened #179 "Add blog post for Zeomega and DBS as Silver Sponsor"
**Category**: Silver Sponsor

This should go in single blog post

## Zeomega
Details at https://github.com/pythonindia/inpycon2018/issues/151#issuecomment-423069033

## DBS
Description: Yet to receive
Logo: From PyCon India 2018 website repo

[2018-09-26 12:55] Rohithgilla12 commented on #178
This is asking for permission

[2018-09-26 14:44] ananyo2012 commented on #178
Can you try this link https://docs.google.com/document/d/1hmKJTqde2TvwAiB2JzCO8-9GMd1UxlSICGLd3gon0Lk/edit?usp=sharing

[2018-09-26 14:45] ananyo2012 commented on #178
Also probably you should be logged into your google account to view this.

[2018-09-26 15:15] Rohithgilla12 commented on #178
Got permission from the owner, will do PR after corteva is merged

[2018-09-28 16:04] #178 closed

[2018-09-28 16:04] #177 closed

[2018-09-28 16:06] ananyo2012 opened #183 "Add blog post for VMWare as Gold Sponsor"
Description:

VMware is a global leader in cloud infrastructure and business mobility. VMware accelerates customers’ digital transformation journey by enabling enterprises to master a software-defined approach to business and IT. With VMware solutions, organizations are building extraordinary experiences by mobilizing everything.  Our customers are responding faster to opportunities with modern da

[2018-09-28 21:29] ananyo2012 opened #185 "Add Blog post for Zauba Cloud as gold sponsor"
Description:

Zauba Cloud is a next generation cloud computing platform that accelerates product development, reduces cost and increases overall performance and reliability of assets on public cloud and on premise data centres.
Zauba Cloud is the first cloud computing company to charge users based on actual usage of resources and not provisioned resources. Zauba Cloud's deep expertise and culture

[2018-09-29 03:41] Rohithgilla12 commented on #185
Bro, Zauba cloud website link please 🙈

[2018-09-29 05:36] ananyo2012 commented on #185
https://zauba.company/ please update in the blog

[2018-09-29 05:38] ananyo2012 commented on #185
Also can you update google's link to https://developers.google.com/ in this PR ?

[2018-09-29 07:57] Rohithgilla12 commented on #185
I am not able to do the google link thingy bro 😢

[2018-09-29 17:36] #183 closed

[2018-09-30 11:16] vipulgupta2048 opened #188 "Facing errors in starting the server"
Followed the instructions in the readme.md to run the blog site on the server, faced this error repeatedly with every blog post that we have. I think the instructions are bit outdated.

[code]

[2018-09-30 11:17] vipulgupta2048 commented on #188
Checked this extension, its mentioned alright in requirements.txt but still failed to load.

[2018-09-30 11:41] vipulgupta2048 opened #189 "Some tweaking needed"
As we near the conference, we can work for executing the final touches. Here are some changes that could be made:-
- Overflowing Google Developers logo in Desktop.
![screenshot_2018-09-30_16-57-19](https://user-images.githubusercontent.com/22801822/46257126-3b305680-c4d2-11e8-84ec-97d0846c02c7.png)
- The Devsprints blog to be linked with the Understanding Devsprints post to increase pingback. (Wan

[2018-09-30 15:41] #172 closed

[2018-09-30 15:52] ananyo2012 commented on #188
Seems like pelican uses this. Can you check which version of pelican is installed in the virtualenv ?

[2018-09-30 15:54] ananyo2012 commented on #189
Looks valid improvements. Lets work on them one by one. Do you want to take this up ?

[2018-09-30 22:51] vipulgupta2048 commented on #188
Yup, that was it. Updated the same in requirements file for future references.
Pelican version now is `3.7.1`
Refer #190 for the same. Thanks.

[2018-10-01 01:44] #188 closed

[2018-10-01 05:19] ananyo2012 commented on #188
Yup sometimes some dependencies change and the fix is rolled out only in
newer versions. I will have a look at the PR later tonight

On Mon 1 Oct, 2018, 7:14 AM Vipul Gupta, <notifications@github.com> wrote:

[2018-10-01 14:56] chirag200666 commented on #185
@Rohithgilla12
I've updated the Zauba cloud description, can you please create a blog post about the same.

[2018-10-01 15:04] Rohithgilla12 commented on #185
Completed

[2018-10-01 21:52] vipulgupta2048 commented on #185
@ananyo2012 I can take up adding the link since my opened PR deals with the same file.
Closing this. Thanks for your contribution @Rohithgilla12 !!
:hatching_chick:

[2018-10-01 21:52] vipulgupta2048 commented on #185
#185 closed through #186

[2018-10-01 21:52] #185 closed

[2018-10-03 11:27] vipulgupta2048 commented on #179
We would also be needing content for Jet Brains.

[2018-10-04 20:59] vipulgupta2048 commented on #189
As #192 has been made, then I think the last two have been covered as well.
Will work on the tickets blog later.
Closing this.

[2018-10-04 20:59] #189 closed

[2019-05-08 17:57] astronomersiva opened #200 "Server stays running even after SIGINT"
Even after pressing `ctrl + c`, the server keeps running in the background.

This is annoying because while switching branches, random lines are printed in the shell and there seems to be no way to stop this as well(other than pressing `ctrl + c` each time this is done to recover the cursor)

<img width="723" alt="Screen Shot 2019-05-08 at 23 26 42" src="https://user-images.githubusercontent.com/7

[2019-05-09 03:52] gnurenga commented on #200
You can use below two command to solve this issue

### During development
`make devserver`

### To stop
`make  stopserver`

Note: You can find this two target in the `Makefile`

[2019-05-09 18:24] astronomersiva commented on #200
Thanks for this @gnurenga! This is a real life saver to me for now :D

Having said that, I think we should make this a better experience because this repo will be worked on by non-devs(and devs without relevant experience) also.

The readme just tells that `./develop_server.sh start` will start the dev server. It is very reasonable to assume that the server will be killed when SIGINT is given by p

[2019-05-10 04:28] gnurenga commented on #200
@astronomersiva There is one more option also is there

`./develop_server.sh   stop` After reading the usage i came to know.
1. In the shell script they are running the pelican server in the background. That is the reason ctrl+c didn't worked.
2. Also they are running the pelican in auto reload and debug mode that is when ever a developer do a change and save it pelican regenerate the html file fr

[2019-05-10 16:43] astronomersiva commented on #200
@gnurenga, I took a look at the script now.

I completely agree with what you are saying. However, the interesting thing here is that even though the server runs in the background(after SIGINT), **you cannot access the server** by visiting localhost:8000/blog in the browser. You need to actually run `./develop_server.sh` to visit it again. Which brings me back to my original question - what is the

[2019-05-13 09:07] bravegnu opened #203 "Large logos in the blog"
* **Do you want to request a *feature* or report a *bug*?**
bug

The logos on the blog are huge especially square shaped logos from AQR and SOROCO.

[2019-05-14 01:33] #203 closed

[2019-05-27 01:59] astronomersiva opened #209 "Fix insecure image href"
http://www.zeomega.com/wp-content/uploads/WEB-235-ZeOmega-Logo.png

[2019-05-27 03:49] bravegnu commented on #209
Not sure why people hot-linked the image into our website. I would prefer we have a local copy.

[2019-05-27 04:20] astronomersiva commented on #209
Yeah Vijay, just created this issue as a reminder to myself to fix this once I return from work.

[2019-05-30 16:19] #209 closed

[2019-06-01 05:36] sharmi opened #213 "Add a convince my boss blog post."

[2020-05-06 22:30] vipulgupta2048 commented on #179
Closing

[2020-05-06 22:30] #179 closed

[2020-05-08 20:46] vipulgupta2048 opened #263 "Adding of author tag to blog posts"
* **Do you want to request a *feature* or report a *bug*?**
I feel like this is something we have been missing in PyCon India blogs for some time now. Having author tags is a great way to credit the writers for the blogs and can be done pretty easily by adding it to our template.

**Roadlocks**
- All the posts from this point before won't have any author tags and will possibly lead to errors (I ha

[2020-05-09 15:08] #213 closed

[2020-05-09 15:12] ananyo2012 commented on #263
+1 for the feature. Yes using a default value like `anonymous` should be fine for the older posts.

[2020-05-09 16:09] ananyo2012 commented on #263
On second thought just keep it blank. This is a static blog so we can just add the Author if it exists.

[2020-05-19 18:54] ananyo2012 commented on #263
@vipulgupta2048 With reference to your [comment](https://github.com/pythonindia/inpycon-blog/pull/265#discussion_r426842620) in #265

I think instead of separate author pages we can let the author add the link to his/her bio. We just need to come up with a proper structure how they should mention in the blog markup.

[2020-05-20 09:26] ananyo2012 opened #268 "Fix Netlify preview"
The Netlify Preview has broken css as the app get's deployed from root but the asset links are under `/blog` directory. Need to figure out a way to get the correct preview in Netlify.

[2020-05-20 17:08] vipulgupta2048 opened #269 "Add og title and image for better Social Preview!"
https://socialsharepreview.com/?url=https://in.pycon.org/blog/2020/2020-call-for-proposals-announcement.html

[2020-05-20 17:17] vipulgupta2048 opened #270 "Optimize blog roadmap"
- [x] Reduce requests being made to static assets which are not used anymore
- [x] Put old themes into submodules
- [x] Decide what to do with old assets/blogs/designs
- [x] Optimize images
- [x] Improve on the design
- [x] Add Pagination
- [x] Think about pelican plugins
- [x] Add Header image

Plugin Suggestions
- https://github.com/getpelican/pelican-plugins/tree/master/readtime

and lots of mo

[2020-05-20 22:17] vipulgupta2048 commented on #268
@pythonindia/pycon-india-2020-infrastructure had few points regarding Netlify, maybe you can take care of that as well with this issue.

- Along with fixing the CSS, we were thinking of deploying the website on Netlify itself. Can you build the pipeline for it that way we can have a better, stable, more automated pipeline for the blog?
- Claim an account on Netlify with the PyCon email address and

[2020-05-21 17:24] ananyo2012 commented on #268
The point of having everything deployed from same server is to allow
minimum difficulty of registering urls with the PyCon India domain which is
linked to AFROST domain. Unless we have access of the domain account it is
difficult to do frequent changes with the website/blog where it's deployed
or if something goes wrong.

On Thu, 21 May, 2020, 3:47 AM Vipul Gupta, <notifications@github.com> wrote:

[2020-05-21 17:37] palnabarun commented on #268
minimum difficulty of registering urls with the PyCon India domain which is
linked to AFROST domain. Unless we have access of the domain account it is
difficult to do frequent changes with the website/blog where it's deployed
or if something goes wrong.

I don't think it is a correct point. Why do you think we need to register an URL when deploying with Netlify?

[2020-05-21 17:38] palnabarun commented on #268
minimum difficulty of registering urls with the PyCon India domain which is
linked to AFROST domain. Unless we have access of the domain account it is
difficult to do frequent changes with the website/blog where it's deployed
or if something goes wrong.

I don't think it is a correct point. Why do you think we need to register an URL when deploying with Netlify?

cc: @ananyo2012

[2020-05-21 17:39] palnabarun commented on #268
I have claimed an account with the same already. :)

[2020-05-21 18:09] ananyo2012 commented on #268
Also I think I would rather prefer a static gh-pages website instead of
netlify for the entire website setup

On Thu, 21 May, 2020, 10:54 PM Ananya Maiti, <ananyoevo@gmail.com> wrote:

[2020-05-21 18:22] palnabarun commented on #268
netlify for the entire website setup

What is the reason for that? You are putting your eggs in Github's basket rather than Netlify's basket. GH sees a lot more outages these days than Netlify.

[2020-05-21 18:26] ananyo2012 commented on #268
We need to back link the netlify domain from AFROST PyCon India domain
right ? Do we have access to that ?

[2020-05-21 18:31] ananyo2012 commented on #268
On Thu, 21 May, 2020, 11:53 PM Nabarun Pal, <notifications@github.com>
wrote:

gh-pages give more fine tuning in terms of CI. Is their enough flexibility
related to that in Netlify ? I haven't used Netlify extensively, mostly use
it for previews.

Also if we are going to use git submodules for the entire website won't it
be better to use gh-pages itself ?

[2020-05-23 11:50] palnabarun commented on #268
right ? Do we have access to that ?

What do you mean by "back link"?

I may be wrong but does gh-pages have a CI?

be better to use gh-pages itself ?

How is coding convention related to deployment methodology?

[2020-05-23 15:00] astronomersiva commented on #268
@ananyo2012, we had this issue while working on the last year's edition as well. The solution was to edit the build command in Netlify. We ended up moving the output files to a directory named `blog`. IIRC, it was something like this:

`buildCommand && mkdir newPathToDeploy && mv outputDir newPathToDeploy/blog && echo "<a href='/blog'>see your changes here</a>" > newPathToDeploy/index.html`

After

[2020-05-23 16:28] ananyo2012 commented on #268
I mean adding CNAME / A records for the website in AFROST's domain provider.

I was referring to GitHub Actions. But we can also setup CI in GitHub Actions and deploy it to Netlify using Netlify. Just wanted to explore all options.

Netlify uses single build command so I was a bit concerned How the submodules thing would work out. But we can have a build script to manage everything.

@palnabarun I

[2020-05-23 16:42] ananyo2012 commented on #268
Btw the intention of this issue is just to fix the preview problem. Thanks @sivaa For the suggestion. I will try that out and update.

@palnabarun I have created https://github.com/pythonindia/inpycon2020-tasks/issues/42 . We can continue discussion there

[2020-05-23 16:55] palnabarun commented on #268
@astronomersiva There's a simpler solution to the preview problem. Ref: https://github.com/pythonindia/inpycon-blog/pull/272

[2020-05-23 17:03] astronomersiva commented on #268
@palnabarun, just curious if [this change](https://github.com/pythonindia/inpycon-blog/pull/272/files#diff-8ef79b47062ce86f791c2983b23e36c1R10) will cause the blog to look for css files at in.pycon.org/theme/css/styles.css. I believe this will break the blog once it's deployed to the prod server.

However, I think your solution can be fixed to make this work. If you make use of env variables(`proc

[2020-05-23 17:05] palnabarun commented on #268
@astronomersiva You got it right. :+1:

The production deployment happens through `publishconf.py` though.

[2020-05-23 19:06] palnabarun commented on #268
@ananyo2012 You can't CNAME subpaths. DNS records are for domains/subdomains not for URL paths.

[2020-05-23 19:51] ananyo2012 commented on #268
@palnabarun Yes you are right. I meant if we move to netlify we need to CNAME the netlify url in the Domain account.

[2020-05-23 20:02] palnabarun commented on #268
No, we don't need to.

[2020-05-24 07:32] vipulgupta2048 commented on #263
Roger that, @ananyo2012 Do add the structure to the README when you can.
Closing #263 via #266

[2020-05-24 07:32] #263 closed

[2020-05-24 18:10] palnabarun commented on #200
@astronomersiva Couldn't agree with this more. :+1:

[2020-05-24 20:34] palnabarun commented on #268
The previews are fixed now with #272

Hence, closing.

[2020-05-24 20:34] #268 closed

[2020-05-25 05:12] palnabarun opened #276 "Cleanup warning messages from previous year blog posts while generating content"
**This issue is ideal for anyone new getting started contributing to the development of blogs and wants to learn more about how pelican works. This can be taken up by more than one person and the work can be split up.**

_**MAINTAINERS/EXISTING CONTRIBUTORS please stay away from this issue for the time being (say if by July 1st no new contributors take it up, feel free to fix it yourself).**_

Kno

[2020-05-25 16:12] #200 closed

[2020-05-25 18:27] kapilsharma432001 commented on #276
I wanna contribute in it...Please assign this to me
As this will be my first open source project...Please guide me through it.

[2020-05-25 18:34] rakshakannu commented on #276
Can I team up with you and we work together? I'm also a beginner in opensource.

[2020-05-25 18:43] palnabarun commented on #276
@kapilsharma432001 @rakshakannu -- Hi :wave:, thank you for showing interest in contributing to Python India projects. We generally are available on https://pyconindia.zulipchat.com/. Please join Zulip and ping us on `wg/technology` stream.

[2020-05-25 18:54] kapilsharma432001 commented on #276
Yes...Why not???
I was also looking for a partner and you made it very easy.

[2020-05-25 18:58] rakshakannu commented on #276
That's great!

[2020-05-25 19:13] rakshakannu commented on #276
@kapilsharma432001 join here

[2020-05-25 19:24] kapilsharma432001 commented on #276
@rakshakannu Already done!

[2020-05-26 02:58] Shankhanil commented on #270
It's a cool project. Might I take a look, and can you guide me through it?

[2020-05-26 05:11] ananyo2012 commented on #269
Let's check back the preview once changes are deployed

[2020-05-28 12:15] vipulgupta2048 opened #278 "Update of metadata of blog website"
Update title, description of the website for a better social media preview.

`in.pycon.org/blog` has title set as `In Pycon blog` which looks shabby.

Solution: Update `og:title` tags + `pelicanconf.py`

[2020-05-28 12:35] kapilsharma432001 commented on #278
Ok I'll do that...Assign this to me.

[2020-05-28 18:05] vipulgupta2048 commented on #278
Thanks @kapilsharma432001 for showing your interest. From next time onwards, just make a PR after pinging on the issue. Thanks!

[2020-05-28 19:26] kapilsharma432001 commented on #278
@vipulgupta2048  Ok thank you. But I am facing an issue related to **make server ** command.
Following is the issue:-
"$ make serve
pelican --listen --autoreload C:/Users/Kapil Sharma/inpycon-blog/content --settings C:/Users/Kapil Sharma/inpycon-blog/pelicanconf.py --port 8000 --bind 127.0.0.1
usage: pelican [-h] [-t THEME] [-o OUTPUT] [-s SETTINGS] [-d] [-v] [-q] [-D]
               [--version] [

[2020-05-29 03:26] ananyo2012 commented on #278
Please clone the repo in C:\Users directory. This is the typical issue with
windows where it allows folder name with spaces and user has to put quotes
around the pathname for directory name with spaces in it.

On Fri, May 29, 2020 at 12:56 AM kapilsharma432001 <notifications@github.com>
wrote:

[2020-05-29 11:06] kapilsharma432001 commented on #278
Now I am facing Permission error.

[2020-05-29 11:44] ananyo2012 commented on #278
Can you post the logs ? Unless you can in C:\ directory you shouldn't be
facing issues.

On Fri, 29 May, 2020, 4:36 PM kapilsharma432001, <notifications@github.com>
wrote:

[2020-05-29 12:21] kapilsharma432001 commented on #278
@ananyo2012
`$ make serve
pelican --listen --autoreload C:/inpycon-blog/content --settings C:/inpycon-blog/pelicanconf.py --port 8000 --bind 127.0.0.1
WARNING: No timezone information specified in the settings. Assuming your timezone is UTC for feed generation. Check http://docs.getpelican.com/en/latest/settings.html#timezone for more information
CRITICAL: TypeError: can't pickle generator objects

[2020-05-29 12:21] kapilsharma432001 commented on #278
@ananyo2012
**$ make serve
pelican --listen --autoreload C:/inpycon-blog/content --settings C:/inpycon-blog/pelicanconf.py --port 8000 --bind 127.0.0.1
WARNING: No timezone information specified in the settings. Assuming your timezone is UTC for feed generation. Check http://docs.getpelican.com/en/latest/settings.html#timezone for more information
CRITICAL: TypeError: can't pickle generator object

[2020-05-29 12:58] ananyo2012 commented on #278
Have you tried googling the issue ?

[2020-05-29 13:10] ananyo2012 commented on #278
Anyways I searched and found this is an issue with windows in the current pelican version and is fixed in the next pelican release - https://github.com/getpelican/pelican/issues/2400.

For now build the site using `make publish` and then use `pelican -l` to start the server

[2020-05-30 07:13] ananyo2012 opened #279 "make serve fails in Windows"
This issue was reported in #278 originally. `make serve` fails in Windows with the following error

[code]
This is a issue in pelican v4.2.0 - Ref: https://github.com/getpelican/pelican/issues/2400 . This is fixed in pelican master as is supposed to be available in next release of pelican. Till then we need to fix it the make serve target.

A proposed fix is to not use autoreload if OS is Windows.

[2020-05-30 07:17] ananyo2012 commented on #269
Nice this looks good to close

[2020-05-30 07:17] #269 closed

[2020-05-30 07:25] ananyo2012 commented on #270
@Shankhanil I think most of the points need yet to decided by the @pythonindia/pycon-india-2020 team. A new design for the blog is coming up and the older design needs to be scrubbed.

For now you can do a performance analysis of the blog load time and look out for things that can be done to improve it. Like image optimizations that can be made.

[2020-05-31 05:09] Shankhanil commented on #270
Can you guide me on how to go about doing that? any reference I should look at?

[2020-05-31 05:10] SaptakS opened #280 "Design and development of Blog Page and Blog Index Page"
We need a design that can be used in the current blog:
- [ ] the blog index page which would show a list of all blogs with
       - a excerpt
       - the title
       - published date
       - author
       - read more link
- [ ] the blog page, with the design based on the current blogs.

Current blog link: https://in.pycon.org/blog/

[2020-05-31 06:53] ananyo2012 commented on #270
@Shankhanil You can start with image optimizations. Run the lighthouse tool from chrome Devtools and generate the report. There you can see how much size each image can be compressed.

[2020-05-31 10:59] SiddharthSimharaju commented on #280
Figma Link for blog design:
https://www.figma.com/file/l3fowoKJ1OAyXRd7j095r5/PyconIND-Assets?node-id=164%3A1765

[2020-06-15 08:51] Rohan-GD commented on #276
Is this issue still active?

[2020-06-15 11:53] #276 closed

[2020-06-22 20:50] vipulgupta2048 opened #283 "Summary feature broke for 2020 posts"
Pelican Summary works for all posts, except 2020 posts from the last update.
Needs a hotfix.

[2020-06-22 21:45] vipulgupta2048 opened #284 "Add Anchor tags to link headings"
We need the Pelican blogs to have anchor tags to link specific content as needed.
This would be mighty helpful as we link information in other blogs, social media and website pages.

[2020-06-24 15:49] ananyo2012 commented on #283
The summary feature seems to be broken. It's not working for any posts. @vipulgupta2048 Can you investigate the issue ?

[2020-06-24 15:50] ananyo2012 commented on #284
Can you give some examples of the feature ?

[2020-06-24 19:38] vipulgupta2048 commented on #283
I unassigned myself thinking, we can get some of the new contributors to take it up.
My bandwidth is full at the moment. Will take a look as soon as I get time.

[2020-06-28 13:07] ritesh-pandey commented on #283
I took a look at the issue. The summary plugin and pelican version are out of sync.
I updated the plugin version locally and summary feature started to work again.

Let me know if you want me to create a PR.

[2020-06-28 20:01] ananyo2012 commented on #283
Please go ahead and make a PR

On Sun, 28 Jun, 2020, 6:37 PM Ritesh Pandey, <notifications@github.com>
wrote:

[2020-07-27 17:37] vipulgupta2048 commented on #284
![Screenshot_2020-07-27_23-06-08](https://user-images.githubusercontent.com/22801822/88573077-cd1d3200-d05d-11ea-8b88-b6953b32936d.png)
@ananyo2012 Anchors something like this which we can use to link down headings https://virtualfish.readthedocs.io/en/latest/plugins.html#virtualenvwrapper-compatibility-aliases-compat-aliases

[2020-07-27 17:40] vipulgupta2048 commented on #284
We would like to add the same feature to our Pelican blog so that we can refer to the information more accurately when we start writing the guide for folks! First step to solving the issue would be to check the feasibility if we can even add the anchor tag using the tools provided by Pelican only. If not, we can look forward to building our own custom implementation of the same.

[2020-07-27 17:48] vipulgupta2048 commented on #280
@ananyo2012 Should we close this?

[2020-07-27 17:50] vipulgupta2048 commented on #279
@ananyo2012 Should I assign you for fixing this or can you work towards making a workaround for Windows users?

[2020-07-29 09:17] Sc0rpi0n101 opened #293 "Fix design issues and optimize for accessibility"
* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
The spacing between the headings and their content is not enough. It's not even a line break worth of space, as visible in the current blogs, for eg. https://in.pycon.org/blog/2020/announce-pycon-india-mentorship.html.

The spacing looked fine on the About page build(https://deploy-preview-35--gift

[2020-07-30 17:14] vipulgupta2048 opened #295 "Update favicon on the blog website"
* **Do you want to request a *feature* or report a *bug*?**
Update the favicon of the blog website.

The new icon can be found here https://drive.google.com/drive/folders/1FGisVxBKXdPiGVOkkHA6r71Q2VBuR-us?usp=sharing

[2020-07-31 18:03] vipulgupta2048 opened #296 "Add content voice and style guide for PyCon Blog"
* **Do you want to request a *feature* or report a *bug*?**
Feature

* **What is the motivation/use case?**
For uniformity of the PyCon India content going ahead, we like to make a definite PyCon India content voice and style guide for all content written by the team. This will help new contributors, as well as experienced contributors to stay in sync while creating any and all content for PyCon I

[2020-07-31 18:04] vipulgupta2048 commented on #296
Issue assigned to @Anpr1211

[2020-07-31 18:08] vipulgupta2048 commented on #293
In addition to the issue opened, more things to take care of

- [ ] Update font-family or improve on font presentation
- [ ] Review and improve the CSS for any more changes that leads to improvements.
- [ ] Tag the design team when making the PR
- [ ] Run Lighthouse on the side after pagination PR is merged to improve more on performance and accessibility as suggested over on #270
- [ ] Improve ma

[2020-07-31 18:12] vipulgupta2048 commented on #280
Closing in favor of #282

[2020-07-31 18:12] #280 closed

[2020-07-31 18:13] vipulgupta2048 commented on #283
Update: I will be taking a look for this.

[2020-08-01 12:01] iamkhush opened #297 "Social media icons does not link to correct social media pages"
* **Do you want to request a *feature* or report a *bug*?**
Bug

* **What is the current behavior?**
Upon clicking the fb and twitter icons, the page it doesnt send me anywhere, it just opens the same page.

* **If the current behavior is a bug, give an appropriate description of the bug, steps to reproduce it and attach screenshots or use similar means for the same.**
Go to https://in.pycon.org/b

[2020-08-01 12:22] vipulgupta2048 commented on #297
Thanks @iamkhush for opening this issue, would you be willing to take this up, submit a PR so I can assign you. Also, it would be great if you can add some more icons and their corresponding social media handles.
Icons can be found here https://drive.google.com/drive/folders/1FGisVxBKXdPiGVOkkHA6r71Q2VBuR-us?usp=sharing

What we need is Facebook, Twitter, Linkedin, Zulip, and the mailing list.

[2020-08-01 15:53] iamkhush commented on #297
Sure, would be happy to help :) . Please assign it to me

[2020-08-03 12:31] iamkhush commented on #297
@vipulgupta2048 the pr is ready to merge. Have a look when you get a chance

[2020-08-06 16:50] #278 closed

[2020-08-06 16:50] #295 closed

[2020-08-06 16:56] #297 closed

[2020-08-06 17:03] vipulgupta2048 opened #299 "Improve blog metadata"
- Add an updated og:image for PyCon India 2020 with dimensions 1200 x 630 that could be presented when sharing blogs over on social media. You can see for the image property here that we have one right now. https://opengraphcheck.com/result.php?url=https%3A%2F%2Fin.pycon.org%2Fblog

- Fix `og:description` property of the blog post mentioned in `templates/base.html` for sharing proper summaries whe

[2020-08-06 17:06] vipulgupta2048 commented on #299
Tagging @Pradhvan @insaaniManav for the updated image. I had to merge #292 and for this, we can open a new PR.

[2020-08-06 17:20] vipulgupta2048 opened #300 "Add FontAwesome icon for pagination"
* **Do you want to request a *feature* or report a *bug*?**
At this moment, we don't have an icon for our pagination arrows. You can pick icons from wherever you like that would match our theme. When selected, add them to blogs from here.

https://github.com/pythonindia/inpycon-blog/blob/fb13e337d9cab1c993349accd94cbd5058337532/themes/inpycon2020/templates/pagination.html#L8

![Screenshot from 202

[2020-08-06 17:25] #283 closed

[2020-08-08 07:26] anistark opened #301 "Update to Outreach Partner post"
Need to add notes section to the [post](https://in.pycon.org/blog/2020/2020-outreach-partners.html).

Ref: https://github.com/pythonindia/inpycon2020-tasks/wiki/Outreach-Partners#note

Also, should we update the title?

[2020-08-08 07:27] abhishekmishragithub commented on #301
@Sc0rpi0n101 @vipulgupta2048 can you please update the changes, it's quiet urgent.

[2020-08-08 07:30] Sc0rpi0n101 commented on #301
Sure, doing it now

[2020-08-08 07:48] Sc0rpi0n101 commented on #301
Please check #302

[2020-08-08 07:48] Sc0rpi0n101 commented on #301
Also, should I add this to the mail template in the handbook too?

[2020-08-08 07:56] abhishekmishragithub commented on #301
Yes.

[2020-08-08 08:14] Sc0rpi0n101 commented on #301
https://github.com/pythonindia/pyconindia-handbook/pull/31

[2020-08-08 08:26] anistark commented on #301
Who has access to merge it?

[2020-08-08 08:29] Sc0rpi0n101 commented on #301
@vipulgupta2048 @palnabarun

[2020-08-09 18:06] JeanMarcSaad commented on #300
I'll be working on that!

[2020-08-09 19:41] JeanMarcSaad commented on #300
Implemented in PR #303

[2020-08-12 17:13] Sc0rpi0n101 commented on #301
#302  was merged with the changes. This can be closed.

[2020-08-12 17:15] #301 closed

[2020-08-13 17:30] kmlhsn opened #304 "Make "Read More →" button and make Summary with limited words"
* **Do you want to request a *feature* or report a *bug*?**
request a *feature*:
1. Make  "Read More →"  Twitter bootstrap button
2. Make length of words/characters limited in Summery/brief
* **What is the current behavior?**

1. "Read More →" is a HTML anchor now
 2. Summery/brief has unlimited words now.  some Summery/brief is within few words and some Summery/brief has many words

* **If the cu

[2020-08-13 20:08] vipulgupta2048 commented on #304
Thanks @kmlhsn for opening an issue regarding the same. Would you like to take it up and submit a PR?

[2020-08-13 22:46] kmlhsn commented on #304
Sorry. I fail to run the website from my PC(Local Machine).  I don't know how to "make serve".

[2020-08-13 23:05] vipulgupta2048 commented on #304
Hi @kmlhsn no worries, we can help you out. `make serve` is a command that you have to enter in your terminal/command prompt after installing the dependencies.

[2020-08-14 05:49] kmlhsn commented on #304
ok. i have installed the dependencies. Please tell me next steps

[2020-09-02 07:50] vipulgupta2048 commented on #300
Thanks @JeanMarcSaad for the PR
Closing via #303

[2020-09-02 07:50] #300 closed

[2020-09-02 07:51] vipulgupta2048 commented on #293
Any update? @Sc0rpi0n101

[2020-09-02 07:58] vipulgupta2048 commented on #304
@kmlhsn You can check the `themes/inpycon2020` directory for the theme used for this and work from there on resolving the issue.

[2020-09-04 11:34] vipulgupta2048 commented on #293
Any update? @Sc0rpi0n101

[2020-09-24 04:57] vipulgupta2048 commented on #304
This is resolved by using the right summary frontmatter tag. Closing.

[2020-09-24 04:57] #304 closed

[2020-09-24 04:58] vipulgupta2048 commented on #299
Resolved as well by #292 and #315

[2020-09-24 04:58] #299 closed

[2020-09-30 06:53] vipulgupta2048 commented on #270
Resolved.

[2020-09-30 06:53] #270 closed

[2021-02-12 06:33] #279 closed

[2021-02-12 06:33] #284 closed

[2021-02-12 06:33] #293 closed

[2021-02-12 06:33] #296 closed

[2021-02-26 19:11] realslimshanky opened #354 "Blog homepage links to older 2020 website"
* **Do you want to request a *feature* or report a *bug*?**
It's a bug.

* **What is the current behavior?**
The nav URLs on the blog homepage `https://in.pycon.org/blog/` point to older 2020 website.

* **If the current behavior is a bug, give an appropriate description of the bug, steps to reproduce it and attach screenshots or use similar means for the same.**
For example, click on `Home` after

[2021-02-26 19:15] realslimshanky commented on #354
If we want to differ this in favor of changing the theme all at once after the rebrand work, we should at least fix the important nav links.

[2021-04-07 06:19] #354 closed

[2021-05-08 14:27] Skchoudhary opened #368 "Typo in Writing a proposal for PyCon India? Our Mentorship team is here to help! blog post"
* **Do you want to request a *feature* or report a *bug*?**
Bug

Blog post link: https://in.pycon.org/blog/2021/announce-mentorship.html
The Reviewing Proposals section of the blog post

[code]
it should be
[code]

[2021-05-08 23:08] vipulgupta2048 commented on #368
Thanks @Skchoudhary for pointing this out. Please do create a PR for patching this up if you can.

[2021-05-09 14:44] Skchoudhary commented on #368
@vipulgupta2048  sure will do that

[2021-05-09 15:36] vipulgupta2048 commented on #368
Closing in favor of #369

[2021-05-09 15:36] #368 closed

[2021-09-14 11:34] vipulgupta2048 opened #401 "Create blog for poster sessions"
base content: https://docs.google.com/document/d/15mBQLd3jIEEaUKO-PC2PfBKTxizIXCg4A-1B10W7F7E/edit?usp=sharing

[2021-09-15 16:25] #401 closed